# Copy this file to secrets.yaml and fill in your values
# NEVER commit secrets.yaml to git

wifi_ssid: "YourNetworkSSID"
wifi_password: "YourWiFiPassword"
ap_password: "ovoeasy-config"
ha_api_key: "YOUR-32-BYTE-BASE64-KEY-HERE"
ota_password: "secure-ota-password"
